<%= form_tag(search_path, method: :get) do %>
    <%= date_select(:start_date, params[:search]) %><br>
    <%= date_select(:end_date, params[:search]) %><br>
    <%= select_tag 'currency', options_for_select([ 'EUR', 'USD', 'RUB', 'KZT' ]) %><br>
    <%= submit_tag('Search') %>
<% end %>

<h1>NBKR exchange rates</h1>
<table>
  <tr>
    <th>created_date</th>
    <th>currency</th>
    <th>exchange rate</th>
  </tr>

  <% @rates.each do |rate| %>
    <tr>
      <td><%= rate.created_date.strftime('%d.%m.%Y') %></td>
      <td><%= rate.currency %></td>
      <td><%= rate.exchange_rate %></td>
    </tr>
  <% end %>
</table>
