<%= form_tag(search_rates_by_dates_and_currency_path, method: :get) do %>

    <p>Start_date: <%= date_select(:start_date, params[:search]) %></p>
    <p>End_date: <%= date_select(:end_date, params[:search]) %></p>

    <%= select_tag 'currency', options_for_select([ 'EUR', 'USD', 'RUB', 'KZT' ]) %><br>

    <br><%= submit_tag('Search') %>
<% end %>

<h1>NBKR exchange rates</h1>
<h2>Current date: <%= Date.today.strftime('%d.%m.%Y') %> (<%= Date.today.strftime('%A') %>)</h2>
<h4>Total records: <%= @quantity_of_records %></h4>
<h4>last 8 records</h4>

<table>
  <tr>
    <th>created_date</th>
    <th>currency</th>
    <th>exchange rate</th>
  </tr>

  <% @rates.each do |rate| %>
    <tr>
      <td><%= rate.created_date.strftime('%d.%m.%Y') %></td>
      <td><%= rate.currency %></td>
      <td><%= rate.exchange_rate %></td>
    </tr>
  <% end %>
</table>
