<p>
  <strong>Date:</strong>
  <%= @rate.date %>
</p>
 
<p>
  <strong>Currency:</strong>
  <%= @rate.currency %>
</p>

<p>
  <strong>Exchange Rate:</strong>
  <%= @rate.exchange_rate %>
</p>

<!--  -->
<h2>Comments</h2>
<%= render @rate.comments %>
<!--  -->

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_rate_path(@rate) %>
<%= link_to 'Back', rates_path %>